#counter {
    background: #06182D;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    transition: opacity 0.5s ease-in;
  }
  
  .counter__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    padding: 4.735rem 1rem;
    justify-items: center;
    margin: 0 auto;
    list-style-type: none;
  }
  
  .counter__container h3 {
    font-size: 2.185rem;
  }
  
  .counter__container h3 small {
    display: block;
    font-size: 1.25rem;
  }